<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.BTAutoPairing</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.BTAutoPairing</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/BTAutoPairingBridge</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.PortableStorage</key>
	<dict>
		<key>Label</key>
		<string>com.apple.PortableStorage</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/psagent</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.afc</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.afc</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/afcd</string>
			<string>--lockdown</string>
			<string>-d</string>
			<string>/var/mobile/Media</string>
			<string>-u</string>
			<string>mobile</string>
		</array>
	</dict>
	<key>com.apple.afc2</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.afc2</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/afcd</string>
			<string>--lockdown</string>
			<string>-d</string>
			<string>/</string>
		</array>
	</dict>
	<key>com.apple.crashreportcopy</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>InstanceLimit</key>
		<integer>1</integer>
		<key>Label</key>
		<string>com.apple.crashreportcopy</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/CrashReportCopyAgent</string>
			<string>--lockdown</string>
			<string>--oneshot</string>
		</array>
	</dict>
	<key>com.apple.crashreportcopymobile</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.crashreportcopymobile</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/afcd</string>
			<string>--lockdown</string>
			<string>-d</string>
			<string>/var/mobile/Library/Logs/CrashReporter</string>
			<string>-u</string>
			<string>mobile</string>
		</array>
	</dict>
	<key>com.apple.crashreportmover</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.crashreportmover</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/crash_mover</string>
			<string>--lockdown</string>
		</array>
	</dict>
	<key>com.apple.misagent</key>
	<dict>
		<key>Label</key>
		<string>com.apple.misagent</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/misagent</string>
		</array>
	</dict>
	<key>com.apple.mobile.MCInstall</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.MCInstall</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mc_mobile_tunnel</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.mobile.MDMService</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.MDMService</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/MDMService</string>
		</array>
	</dict>
	<key>com.apple.mobile.debug_image_mount</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.debug_image_mount</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/debug_image_mount</string>
		</array>
	</dict>
	<key>com.apple.mobile.diagnostics_relay</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.diagnostics_relay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_diagnostics_relay</string>
		</array>
	</dict>
	<key>com.apple.mobile.factory_proxy</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.factory_proxy</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_factory_proxy</string>
		</array>
	</dict>
	<key>com.apple.mobile.file_relay</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.file_relay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_file_relay</string>
		</array>
	</dict>
	<key>com.apple.mobile.house_arrest</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>InstanceLimit</key>
		<integer>5</integer>
		<key>Label</key>
		<string>com.apple.mobile.house_arrest</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_house_arrest</string>
		</array>
	</dict>
	<key>com.apple.mobile.installation_proxy</key>
	<dict>
		<key>Label</key>
		<string>com.apple.mobile.installation_proxy</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_installation_proxy</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.mobile.integrity_relay</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.integrity_relay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_integrity_relay</string>
		</array>
	</dict>
	<key>com.apple.mobile.mobile_image_mounter</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.mobile_image_mounter</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/mobile_storage_proxy</string>
		</array>
	</dict>
	<key>com.apple.mobile.notification_proxy</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mobile.notification_proxy</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/notification_proxy</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.mobile.software_update</key>
	<dict>
		<key>InstanceLimit</key>
		<integer>1</integer>
		<key>Label</key>
		<string>com.apple.mobile.software_update</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/software_update</string>
		</array>
	</dict>
	<key>com.apple.mobile.system_profiler</key>
	<dict>
		<key>Label</key>
		<string>com.apple.mobile.system_profiler</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/sbin/system_profiler</string>
		</array>
	</dict>
	<key>com.apple.mobilebackup</key>
	<dict>
		<key>InstanceLimit</key>
		<integer>1</integer>
		<key>Label</key>
		<string>com.apple.mobilebackup</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/BackupAgent</string>
			<string>--lockdown</string>
		</array>
	</dict>
	<key>com.apple.mobilebackup2</key>
	<dict>
		<key>InstanceLimit</key>
		<integer>1</integer>
		<key>Label</key>
		<string>com.apple.mobilebackup2</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/BackupAgent2</string>
			<string>--lockdown</string>
		</array>
	</dict>
	<key>com.apple.mobilesync</key>
	<dict>
		<key>InstanceLimit</key>
		<integer>1</integer>
		<key>Label</key>
		<string>com.apple.mobilesync</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/SyncAgent</string>
			<string>--lockdown</string>
			<string>--oneshot</string>
			<string>-v</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.purpletestr</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.purpletestr</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/PurpleTestr</string>
			<string>--lockdown</string>
			<string>--oneshot</string>
		</array>
	</dict>
	<key>com.apple.springboardservices</key>
	<dict>
		<key>Label</key>
		<string>com.apple.springboardservicesrelay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/springboardservicesrelay</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.syslog_relay</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.syslog_relay</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/libexec/syslog_relay</string>
			<string>--lockdown</string>
		</array>
		<key>UserName</key>
		<string>mobile</string>
	</dict>
	<key>com.apple.bootps</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.bootps</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/launchctl</string>
			<string>load</string>
			<string>/System/Library/LaunchDaemons/com.apple.bootpd.plist</string>
		</array>
		<key>UserName</key>
		<string>root</string>
	</dict>
	<key>com.apple.bootpe</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.bootpe</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/launchctl</string>
			<string>unload</string>
			<string>/System/Library/LaunchDaemons/com.apple.bootpd.plist</string>
		</array>
		<key>UserName</key>
		<string>root</string>
	</dict>
	<key>com.apple.mdws</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mdw</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/launchctl</string>
			<string>load</string>
			<string>/Library/LaunchDaemons/com.apple.mdworker.plist</string>
		</array>
		<key>UserName</key>
		<string>root</string>
	</dict>
	<key>com.apple.mdwt</key>
	<dict>
		<key>AllowUnactivatedService</key>
		<true/>
		<key>Label</key>
		<string>com.apple.mdw</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/launchctl</string>
			<string>unload</string>
			<string>/Library/LaunchDaemons/com.apple.mdworker.plist</string>
		</array>
		<key>UserName</key>
		<string>root</string>
	</dict>
</dict>
</plist>
